.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.wrapper-about {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.about-title {
  font-size: 4rem;
  color: #c6161c;
  border-bottom: 2px solid #c6161c;
  margin-bottom: 2rem;
}

.title-span {
  color: goldenrod;
}

.about-welcome {
  font-size: 2.5rem;
}

.info-wrapper {
  padding: 2rem;
}

.info {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 2.4rem;
}

.mockup {
  width: 90%;
  height: 90%;
  max-height: 600px;
  max-width: 600px;
  margin-top: 2rem;
  border-radius: 20px;
}

.swing-in-bottom-fwd {
  -webkit-animation: swing-in-bottom-fwd 1s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-bottom-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

@media (min-width: 860px) {
  .about {
    flex-direction: row;
  }
  .info {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .mockup {
    width: 50%;
    padding: 2rem;
    border-radius: 20px;
  }
}

@media (min-width: 1200px) {
  .wrapper-about {
    margin-right: 5rem;
  }
  .about-title {
    font-size: 5rem;
  }
  .about-welcome {
    font-size: 3rem;
  }
  .info {
    font-size: 2rem;
    line-height: 3rem;
  }
  .mockup {
    border-radius: 20px;
  }
}
