.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.description__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  max-height: 900px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin-top: 2rem;
}

.welcome {
  font-size: 2rem;
  color: goldenrod;
  width: 100%;
  text-align: center;
}

.name {
  font-size: 4.5rem;
  text-align: center;
  font-weight: bold;
  padding: 1rem 1rem;
  width: 100%;
}

.description {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  color: #aaa;
  width: 100%;
}

.homepage__img {
  display: block;
  width: 60%;
  height: 60%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 5rem;
}

.buttons__wrapper {
  display: flex;
}

.resume {
  display: block;
  background-color: #c6161c;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  width: 100px;
  height: 40px;
  border: 1px solid #c6161c;
  border-radius: 20px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 40px;
  margin: 1rem 1rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.resume:hover {
  background-color: #ad151a;
}

.poke {
  color: #fff;
  background-color: #030303;
  font-family: inherit;
  width: 100px;
  height: 40px;
  border: 1px solid #c6161c;
  border-radius: 20px;
  font-size: 1.6rem;
  margin: 1rem 1rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  text-align: center;
}

.poke:hover {
  background-color: #ad151a;
}

@media (min-width: 640px) {
  .description__wrapper {
    margin-top: 10rem;
  }
  .welcome {
    font-size: 2.5rem;
  }
  .name {
    font-size: 5rem;
  }
  .description {
    font-size: 2.5rem;
  }
}

@media (min-width: 860px) {
  .wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }
  .description__wrapper {
    width: 50vw;
    height: 70%;
    padding-left: 10rem;
  }
  .homepage__img {
    width: 50%;
    height: 50%;
    margin-right: 5rem;
  }
  .name {
    font-size: 5.5rem;
  }
  .welcome {
    font-size: 3rem;
  }
  .description {
    font-size: 3rem;
  }
  .resume {
    width: 130px;
    height: 45px;
    font-size: 2rem;
    line-height: 45px;
  }
  .poke {
    width: 130px;
    height: 45px;
    line-height: 45px;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .name {
    font-size: 8rem;
  }
  .welcome {
    font-size: 6rem;
  }
  .description {
    font-size: 5rem;
  }
  .homepage__img {
    width: 45%;
    height: 45%;
    margin-right: 15rem;
  }
  .resume {
    width: 170px;
    height: 55px;
    line-height: 55px;
    font-size: 2.6rem;
  }
  .poke {
    width: 170px;
    height: 55px;
    line-height: 55px;
    font-size: 2.6rem;
  }
}
