.swiper-container {
  max-width: 1024px;
}

.skills-title {
  text-align: center;
  font-size: 4rem;
  color: goldenrod;
}

.slide-wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.slide-title {
  font-size: 2.2rem;
  text-align: center;
  padding: 1rem;
  color: #c6161c;
}

.slide-desc {
  font-size: 1.6rem;
}

.img-skills {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-skills--last {
  max-height: 480px;
}

.slide-desc {
  margin-top: 1rem;
  padding: 1rem 3rem;
  text-align: center;
}

.buttom-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.button-live {
  background-color: #c6161c;
  font-family: inherit;
  width: 100px;
  height: 40px;
  color: #fff;
  font-family: inherit;
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
  line-height: 40px;
  border: 1px solid #c6161c;
  border-radius: 20px;
  font-size: 1.6rem;
  margin: 1rem 1rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.button-live:hover {
  background-color: #ad151a;
}

.button-code {
  background-color: #030303;
  font-family: inherit;
  width: 100px;
  height: 40px;
  color: #fff;
  font-family: inherit;
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
  line-height: 40px;
  border: 1px solid #c6161c;
  border-radius: 20px;
  font-size: 1.6rem;
  margin: 1rem 1rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.button-code:hover {
  background-color: #ad151a;
}

.img-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.img-wrapper--last {
  justify-content: space-evenly;
}

.img-icons {
  width: 40px;
  height: 40px;
  margin: 0.5rem;
}

.img-icons--canvas {
  width: 60px;
  height: 40px;
}

@media (min-width: 640px) {
  .slide-title {
    font-size: 2.6rem;
  }
  .slide-desc {
    font-size: 1.8rem;
    padding: 2rem 1rem;
  }
}

@media (min-width: 860px) {
  .slide-title {
    font-size: 3rem;
  }
  .slide-desc {
    font-size: 2rem;
  }
  .button-live {
    width: 130px;
    height: 45px;
    line-height: 45px;
    font-size: 2rem;
  }

  .button-code {
    width: 130px;
    height: 45px;
    font-size: 2rem;
    line-height: 45px;
  }

  .img-icons-last {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1200px) {
  .skills-title {
    font-size: 4.5rem;
  }
  .slide-title {
    font-size: 3.5rem;
  }
  .slide-desc {
    font-size: 2.2rem;
  }
  .button-live {
    width: 170px;
    height: 55px;
    font-size: 2.6rem;
    line-height: 55px;
  }

  .button-code {
    width: 170px;
    height: 55px;
    font-size: 2.6rem;
    line-height: 55px;
  }
}
